In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
data = pd.read_csv("QVI_data.csv")
data

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,17-10-2018,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,16-09-2018,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,07-03-2019,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,08-03-2019,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,02-11-2018,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream
...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,08-12-2018,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream
264830,2370751,01-10-2018,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium
264831,2370961,24-10-2018,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget
264832,2370961,27-10-2018,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget
264833,2373711,14-12-2018,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream

In [21]:
data_77 = data[data['STORE_NBR']==77]
data_77

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
73365,77000,28-03-2019,77,74911,18,Cheetos Chs & Bacon Balls 190g,1,3.3,190,CHEETOS,MIDAGE SINGLES/COUPLES,Budget
73366,77000,13-04-2019,77,74912,69,Smiths Chip Thinly S/Cream&Onion 175g,1,3.0,175,SMITHS,MIDAGE SINGLES/COUPLES,Budget
73367,77000,26-09-2018,77,74910,36,Kettle Chilli 175g,2,10.8,175,KETTLE,MIDAGE SINGLES/COUPLES,Budget
73368,77001,27-02-2019,77,74913,7,Smiths Crinkle Original 330g,2,11.4,330,SMITHS,YOUNG FAMILIES,Mainstream
73369,77001,21-01-2019,77,74914,9,Kettle Tortilla ChpsBtroot&Ricotta 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Mainstream
...,...,...,...,...,...,...,...,...,...,...,...,...
264818,2330321,30-07-2018,77,236756,71,Twisties Cheese Burger 250g,2,8.6,250,TWISTIES,YOUNG SINGLES/COUPLES,Mainstream
264819,2330331,18-11-2018,77,236760,95,Sunbites Whlegrn Crisps Frch/Onin 90g,2,3.4,90,SUNBITES,RETIREES,Budget
264820,2330431,31-07-2018,77,236770,50,Tostitos Lightly Salted 175g,1,4.4,175,TOSTITOS,OLDER SINGLES/COUPLES,Mainstream
264821,2330461,21-07-2018,77,236777,87,Infuzions BBQ Rib Prawn Crackers 110g,1,3.8,110,INFUZIONS,OLDER FAMILIES,Budget
264822,2330501,20-06-2019,77,236780,63,Kettle 135g Swt Pot Sea Salt,1,4.2,135,KETTLE,OLDER SINGLES/COUPLES,Budget

In [22]:
data_86 = data[data['STORE_NBR']==86]
data_86

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
82393,86000,26-08-2018,86,84137,90,Tostitos Smoked Chipotle 175g,2,8.8,175,TOSTITOS,YOUNG FAMILIES,Premium
82394,86000,25-09-2018,86,84138,88,Kettle Honey Soy Chicken 175g,2,10.8,175,KETTLE,YOUNG FAMILIES,Premium
82395,86000,19-02-2019,86,84139,41,Doritos Salsa Mild 300g,2,5.2,300,DORITOS,YOUNG FAMILIES,Premium
82396,86000,20-11-2018,86,84140,111,Smiths Chip Thinly Cut Original 175g,2,6.0,175,SMITHS,YOUNG FAMILIES,Premium
82397,86000,30-11-2018,86,84141,13,Red Rock Deli Thai Chilli&Lime 150g,2,5.4,150,RRD,YOUNG FAMILIES,Premium
...,...,...,...,...,...,...,...,...,...,...,...,...
153415,155479,19-08-2018,86,155508,74,Tostitos Splash Of Lime 175g,2,8.8,175,TOSTITOS,NEW FAMILIES,Mainstream
153416,155479,21-11-2018,86,155509,9,Kettle Tortilla ChpsBtroot&Ricotta 150g,2,9.2,150,KETTLE,NEW FAMILIES,Mainstream
153417,155485,08-11-2018,86,155552,97,RRD Salt & Vinegar 165g,2,6.0,165,RRD,OLDER SINGLES/COUPLES,Mainstream
153418,155489,15-08-2018,86,155582,78,Thins Chips Salt & Vinegar 175g,2,6.6,175,THINS,RETIREES,Premium
153419,155510,14-08-2018,86,155718,82,Smith Crinkle Cut Mac N Cheese 150g,2,5.2,150,SMITHS,YOUNG FAMILIES,Mainstream

In [23]:
data_88 = data[data['STORE_NBR']==88]
data_88

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
84429,88000,12-09-2018,88,86220,4,Dorito Corn Chp Supreme 380g,2,13.0,380,DORITOS,MIDAGE SINGLES/COUPLES,Budget
84430,88000,26-10-2018,88,86221,31,Infzns Crn Crnchers Tangy Gcamole 110g,2,7.6,110,INFUZIONS,MIDAGE SINGLES/COUPLES,Budget
84431,88000,02-02-2019,88,86222,46,Kettle Original 175g,2,10.8,175,KETTLE,MIDAGE SINGLES/COUPLES,Budget
84432,88000,01-05-2019,88,86223,47,Doritos Corn Chips Original 170g,2,8.8,170,DORITOS,MIDAGE SINGLES/COUPLES,Budget
84433,88000,02-05-2019,88,86224,102,Kettle Mozzarella Basil & Pesto 175g,2,10.8,175,KETTLE,MIDAGE SINGLES/COUPLES,Budget
...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,08-12-2018,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream
264830,2370751,01-10-2018,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium
264831,2370961,24-10-2018,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget
264832,2370961,27-10-2018,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget
264833,2373711,14-12-2018,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream

In [24]:
data_77.info()

<class 'pandas.core.frame.DataFrame'>
Index: 563 entries, 73365 to 264822
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    563 non-null    int64
 1   DATE              563 non-null    object
 2   STORE_NBR         563 non-null    int64
 3   TXN_ID            563 non-null    int64
 4   PROD_NBR          563 non-null    int64
 5   PROD_NAME         563 non-null    object
 6   PROD_QTY          563 non-null    int64
 7   TOT_SALES         563 non-null    float64
 8   PACK_SIZE         563 non-null    int64
 9   BRAND             563 non-null    object
 10  LIFESTAGE         563 non-null    object
 11  PREMIUM_CUSTOMER  563 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 57.2+ KB

In [38]:
data_77['DATE'] = pd.to_datetime(data_77['DATE'])

C:\Users\suskr\AppData\Local\Temp\ipykernel_11252\3563511711.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data_77['DATE'] = pd.to_datetime(data_77['DATE'])
C:\Users\suskr\AppData\Local\Temp\ipykernel_11252\3563511711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_77['DATE'] = pd.to_datetime(data_77['DATE'])

In [40]:
data_77.info()

<class 'pandas.core.frame.DataFrame'>
Index: 563 entries, 73365 to 264822
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    563 non-null    int64
 1   DATE              563 non-null    datetime64[ns]
 2   STORE_NBR         563 non-null    int64
 3   TXN_ID            563 non-null    int64
 4   PROD_NBR          563 non-null    int64
 5   PROD_NAME         563 non-null    object
 6   PROD_QTY          563 non-null    int64
 7   TOT_SALES         563 non-null    float64
 8   PACK_SIZE         563 non-null    int64
 9   BRAND             563 non-null    object
 10  LIFESTAGE         563 non-null    object
 11  PREMIUM_CUSTOMER  563 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(6), object(4)
memory usage: 57.2+ KB

In [42]:
data_77['MONTH_ID'] = data_77['DATE'].dt.strftime('%Y%m')

C:\Users\suskr\AppData\Local\Temp\ipykernel_11252\1195593052.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_77['MONTH_ID'] = data_77['DATE'].dt.strftime('%Y%m')

In [44]:
data_77

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,MONTH_ID
73365,77000,2019-03-28,77,74911,18,Cheetos Chs & Bacon Balls 190g,1,3.3,190,CHEETOS,MIDAGE SINGLES/COUPLES,Budget,201903
73366,77000,2019-04-13,77,74912,69,Smiths Chip Thinly S/Cream&Onion 175g,1,3.0,175,SMITHS,MIDAGE SINGLES/COUPLES,Budget,201904
73367,77000,2018-09-26,77,74910,36,Kettle Chilli 175g,2,10.8,175,KETTLE,MIDAGE SINGLES/COUPLES,Budget,201809
73368,77001,2019-02-27,77,74913,7,Smiths Crinkle Original 330g,2,11.4,330,SMITHS,YOUNG FAMILIES,Mainstream,201902
73369,77001,2019-01-21,77,74914,9,Kettle Tortilla ChpsBtroot&Ricotta 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Mainstream,201901
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264818,2330321,2018-07-30,77,236756,71,Twisties Cheese Burger 250g,2,8.6,250,TWISTIES,YOUNG SINGLES/COUPLES,Mainstream,201807
264819,2330331,2018-11-18,77,236760,95,Sunbites Whlegrn Crisps Frch/Onin 90g,2,3.4,90,SUNBITES,RETIREES,Budget,201811
264820,2330431,2018-07-31,77,236770,50,Tostitos Lightly Salted 175g,1,4.4,175,TOSTITOS,OLDER SINGLES/COUPLES,Mainstream,201807
264821,2330461,2018-07-21,77,236777,87,Infuzions BBQ Rib Prawn Crackers 110g,1,3.8,110,INFUZIONS,OLDER FAMILIES,Budget,201807
264822,2330501,2019-06-20,77,236780,63,Kettle 135g Swt Pot Sea Salt,1,4.2,135,KETTLE,OLDER SINGLES/COUPLES,Budget,201906

In [46]:
data_86['DATE'] = pd.to_datetime(data_86['DATE'])

C:\Users\suskr\AppData\Local\Temp\ipykernel_11252\927587293.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data_86['DATE'] = pd.to_datetime(data_86['DATE'])
C:\Users\suskr\AppData\Local\Temp\ipykernel_11252\927587293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_86['DATE'] = pd.to_datetime(data_86['DATE'])

In [48]:
data_86.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1538 entries, 82393 to 153419
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LYLTY_CARD_NBR    1538 non-null   int64
 1   DATE              1538 non-null   datetime64[ns]
 2   STORE_NBR         1538 non-null   int64
 3   TXN_ID            1538 non-null   int64
 4   PROD_NBR          1538 non-null   int64
 5   PROD_NAME         1538 non-null   object
 6   PROD_QTY          1538 non-null   int64
 7   TOT_SALES         1538 non-null   float64
 8   PACK_SIZE         1538 non-null   int64
 9   BRAND             1538 non-null   object
 10  LIFESTAGE         1538 non-null   object
 11  PREMIUM_CUSTOMER  1538 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(6), object(4)
memory usage: 156.2+ KB

In [50]:
data_86['MONTH_ID'] = data_86['DATE'].dt.strftime('%Y%m')
data_86

C:\Users\suskr\AppData\Local\Temp\ipykernel_11252\1508786020.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_86['MONTH_ID'] = data_86['DATE'].dt.strftime('%Y%m')

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,MONTH_ID
82393,86000,2018-08-26,86,84137,90,Tostitos Smoked Chipotle 175g,2,8.8,175,TOSTITOS,YOUNG FAMILIES,Premium,201808
82394,86000,2018-09-25,86,84138,88,Kettle Honey Soy Chicken 175g,2,10.8,175,KETTLE,YOUNG FAMILIES,Premium,201809
82395,86000,2019-02-19,86,84139,41,Doritos Salsa Mild 300g,2,5.2,300,DORITOS,YOUNG FAMILIES,Premium,201902
82396,86000,2018-11-20,86,84140,111,Smiths Chip Thinly Cut Original 175g,2,6.0,175,SMITHS,YOUNG FAMILIES,Premium,201811
82397,86000,2018-11-30,86,84141,13,Red Rock Deli Thai Chilli&Lime 150g,2,5.4,150,RRD,YOUNG FAMILIES,Premium,201811
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153415,155479,2018-08-19,86,155508,74,Tostitos Splash Of Lime 175g,2,8.8,175,TOSTITOS,NEW FAMILIES,Mainstream,201808
153416,155479,2018-11-21,86,155509,9,Kettle Tortilla ChpsBtroot&Ricotta 150g,2,9.2,150,KETTLE,NEW FAMILIES,Mainstream,201811
153417,155485,2018-11-08,86,155552,97,RRD Salt & Vinegar 165g,2,6.0,165,RRD,OLDER SINGLES/COUPLES,Mainstream,201811
153418,155489,2018-08-15,86,155582,78,Thins Chips Salt & Vinegar 175g,2,6.6,175,THINS,RETIREES,Premium,201808
153419,155510,2018-08-14,86,155718,82,Smith Crinkle Cut Mac N Cheese 150g,2,5.2,150,SMITHS,YOUNG FAMILIES,Mainstream,201808

In [58]:
data_88['DATE'] = pd.to_datetime(data_88['DATE'], format='%d-%m-%Y')

C:\Users\suskr\AppData\Local\Temp\ipykernel_11252\3016849907.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_88['DATE'] = pd.to_datetime(data_88['DATE'], format='%d-%m-%Y')

In [60]:
data_88['MONTH_ID'] = data_88['DATE'].dt.strftime('%Y%m')
data_88

C:\Users\suskr\AppData\Local\Temp\ipykernel_11252\954612062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_88['MONTH_ID'] = data_88['DATE'].dt.strftime('%Y%m')

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,MONTH_ID
84429,88000,2018-09-12,88,86220,4,Dorito Corn Chp Supreme 380g,2,13.0,380,DORITOS,MIDAGE SINGLES/COUPLES,Budget,201809
84430,88000,2018-10-26,88,86221,31,Infzns Crn Crnchers Tangy Gcamole 110g,2,7.6,110,INFUZIONS,MIDAGE SINGLES/COUPLES,Budget,201810
84431,88000,2019-02-02,88,86222,46,Kettle Original 175g,2,10.8,175,KETTLE,MIDAGE SINGLES/COUPLES,Budget,201902
84432,88000,2019-05-01,88,86223,47,Doritos Corn Chips Original 170g,2,8.8,170,DORITOS,MIDAGE SINGLES/COUPLES,Budget,201905
84433,88000,2019-05-02,88,86224,102,Kettle Mozzarella Basil & Pesto 175g,2,10.8,175,KETTLE,MIDAGE SINGLES/COUPLES,Budget,201905
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,2018-12-08,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream,201812
264830,2370751,2018-10-01,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium,201810
264831,2370961,2018-10-24,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget,201810
264832,2370961,2018-10-27,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget,201810
264833,2373711,2018-12-14,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream,201812

In [76]:
grouped_df_77 = data_77.groupby('MONTH_ID').agg({'TOT_SALES': 'sum', 'LYLTY_CARD_NBR': 'count'})

In [78]:
grouped_df_77

          TOT_SALES  LYLTY_CARD_NBR
MONTH_ID
201807        296.8              55
201808        255.5              48
201809        225.2              44
201810        204.5              38
201811        245.3              44
201812        267.3              49
201901        204.4              39
201902        235.0              45
201903        278.5              55
201904        263.5              48
201905        299.3              56
201906        264.7              42

In [80]:
grouped_df_86 = data_86.groupby('MONTH_ID').agg({'TOT_SALES': 'sum', 'LYLTY_CARD_NBR': 'count'})
grouped_df_86

          TOT_SALES  LYLTY_CARD_NBR
MONTH_ID
201807       892.20             126
201808       764.05             112
201809       914.60             129
201810       948.40             138
201811       918.00             127
201812       841.20             120
201901       841.40             130
201902       913.20             139
201903      1026.80             142
201904       848.20             127
201905       889.30             129
201906       838.00             119

In [82]:
grouped_df_88 = data_88.groupby('MONTH_ID').agg({'TOT_SALES': 'sum', 'LYLTY_CARD_NBR': 'count'})
grouped_df_88

          TOT_SALES  LYLTY_CARD_NBR
MONTH_ID
201807      1310.00             153
201808      1323.80             160
201809      1423.00             159
201810      1352.40             158
201811      1382.80             157
201812      1325.20             149
201901      1266.40             146
201902      1370.20             154
201903      1477.20             170
201904      1439.40             162
201905      1308.25             155
201906      1354.60             150